<template>
    <div class="sub-content">
        <h1>
            {{ Route.name }}
        </h1>
        <div class="main-content">
            <button @click="store.toggleForm" v-if="!store.visibleForm">Add</button>
            <AddressForm v-if="store.visibleForm" />
            <AddressTables />
        </div>
    </div>
</template>

<script setup lang="ts">
import AddressTables from '@/components/AddressTables.vue';
import AddressForm from '@/components/AddressForm.vue';
import { useRoute } from 'vue-router';
import { useAddressStore } from '@/stores/address';

const Route = useRoute()

const store = useAddressStore()

</script>

<style scoped>
.main-content {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
</style>