<template>
    <div class="sub-content">
        <h1>
            {{ Route.name }}
        </h1>
        <div class="data">

        </div>
        <ChatBox />
    </div>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router';
import ChatBox from '@/components/ChatBox.vue';

const Route = useRoute()

</script>

<style scoped>
.data {
    margin-top: 2em;
}
</style>

