<template>
  <div class="sub-content">
    <h1>
      {{ Route.name }}
    </h1>
    <div>
      <h2>
        Lab week 3 !
      </h2>
    </div>
  </div>
  <h3 class="credit">Created by
    <a href="https://gitlab.com/65160312">Aphidech Mahakoat</a>
  </h3>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router';

const Route = useRoute()
</script>

<style scoped>
.credit {
  position: absolute;
  bottom: 2em;
}
</style>