<template>
    <form>
        <label for="name">Name:</label>
        <input type="text" v-model="store.address.name">
        <label for="gender">Gender:</label>
        <select name="gender" id="gender" v-model="store.address.gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Others</option>
        </select>
        <label for="tel">Tel:</label>
        <input type="tel" v-model="store.address.tel">
        <div class="op-box">
            <button type="button" @click="store.toggleForm">Cancel</button>
            <button type="button" @click="store.save">Save</button>
        </div>
    </form>
</template>

<script setup lang="ts">
import { useAddressStore } from '@/stores/address'

const store = useAddressStore()

</script>

<style scoped> select {
     font-size: 18px;
     padding: 2px;
 }

 .op-box {
     margin-top: 1rem;
     display: flex;
     justify-content: space-between;
 }

 .op-box>button {
     width: 100%;
 }

 form {
     display: grid;
     grid-template-columns: 1fr;
     padding: 2rem;
     border-radius: 5px;
     margin: 1rem;
     text-align: left;
     font-size: 18px;
 }

 input,
 select,
 label {
     margin: 5px;
 }
</style>