<template>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Tel</th>
        </tr>
        <tr v-for="ad in store.addressBooks" :key="ad.id">
            <td>{{ ad.id }}</td>
            <td>{{ ad.name }}</td>
            <td>{{ ad.gender }}</td>
            <td>{{ ad.tel }}</td>
            <button type="button" @click="store.edit(ad.id)">Edit</button>
            <button type="button" @click="store.remove(ad.id)">Delete</button>
        </tr>
    </table>
</template>

<script setup lang="ts">
import { useAddressStore } from '@/stores/address';

const store = useAddressStore()
</script>

<style scoped>
table {
    font-size: 18px;
    width: 100%;
    border: solid #193153 1px;
    padding: 1rem;
    border-spacing: 1rem;
    border-radius: 5px;
}
</style>