<template>
    <div ref="card" class="card">
        <MessageList :messages="messages" />
    </div>
    <div class="msg-box">
        <MessageBox @send="send" />
    </div>
</template>

<script setup lang="ts">
import { nextTick, ref } from 'vue';
import MessageBox from './MessageBox.vue';
import MessageList from './MessageList.vue';

const messages = ref<string[]>([])
const card = ref<HTMLElement | null>(null)
const answers = ['Hmmm', 'maybe', "baby don't hurt me", 'yes']

function answer() {
    const answer = answers[Math.floor(Math.random() * 1000) % answers.length]
    messages.value.push(answer)
    nextTick(() => {
        updateUI()
    })
}

function send(value: string) {
    messages.value.push(value)
    if (value !== '') {
        answer()
    }
}

function updateUI() {
    card.value!.scrollTop = card.value!.scrollHeight
}

</script>

<style scoped>
.card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background: #313131;
    border-radius: 5px;
    overflow-y: auto;
    text-align: left;
    color: whitesmoke;
    scroll-behavior: smooth;
}

.msg-box {
    margin: 1rem;
}
</style>