<template>
    <div>
        <h3 v-for="(msg, index) in messages" :key="index">
            {{ msg }}
        </h3>
    </div>
</template>

<script setup lang="ts">


defineProps<{
    messages: string[]
}>();

</script>
