<template>
    <div class="box">
        <input type="text" v-model="msg" @keydown.enter="send">
        <button @click="send" type="submit">Send</button>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const emit = defineEmits<{
    send: [message: string]
}>()

const msg = ref('')
function send() {
    emit('send', msg.value)
    msg.value = ''
}
</script>

