<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>
<template>
  <div class="sidenav">
    <RouterLink to="/">Home</RouterLink>
    <RouterLink to="/chat">Chat</RouterLink>
    <RouterLink to="/address">Address</RouterLink>

  </div>
  <div class="content">
    <RouterView />
  </div>
</template>

<style>
.sub-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  margin-left: 225px;
  transition: 0.5s;
}

.sidenav {
  height: 100vh;
  width: 225px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #b4b4b4;
  display: block;
  transition: 0.3s;
}

a.router-link-exact-active {
  color: #5886C8;
}

a.router-link-exact-active:hover {
  background-color: transparent;
}

@media (max-width: 1024px) {
  .sidenav {
    padding-top: 15px;
    width: 150px;
  }

  .sidenav a {
    font-size: 18px;
  }

  .content {
    margin-left: 150px;
  }

  .sub-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

input,
button,
select {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: transparent solid 3px;
  margin: 5px;
  transition: 0.25s;
}

button:hover {
  border: #1E498A solid 3px;
}
</style>
